*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #242424;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
}

.foto{
  border-radius: 100%;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo>p{
  font-weight: bold;
  font-size: x-large
}

.header{
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, .1);
  margin-bottom: 10vh;
}

.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  padding-inline: 80px;
  
}

.listLinks{
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300;
}


.link>a:hover{
  color:darkviolet;  
}

body{background-color: whitesmoke;}


main{
  max-width: 1280px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  width: 100%;
}

.hero>div{
  display: flex;
  flex-direction: column;
  gap:40px
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  padding-bottom: 120px;
  margin-left: 80px;
  margin-right: 80px;
}

.headline{
  font-weight: bolder;
  font-size: xx-large;
}

.subheadline{
  font-size: medium;
  font-weight: 400;
}

#about{
  padding: 120px;
  border-radius: 12px;
  background: url("https://images.unsplash.com/photo-1580894894513-541e068a3e2b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .5);

}

#about>div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .6);
  backdrop-filter: blur(6px);
}


#about>div>h2{
  color: darkviolet;
  font-weight: bolder;
  font-size: xx-large;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 0px 4px 24px rgba(255, 255, 255, .4);
}


#about>div>p{
  font-size:  larger;
  text-align: center;
  max-width: 540px;
}



#skill{
  padding-top: 80px;
  padding-bottom: 80px;
}

.atributes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

.atributes>h2{
  font-size: xx-large;
}

.atributes>ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.atributes>ul>li{
  background-color: darkviolet;
  color: whitesmoke;
  border-radius: 6px;
  padding: 6px;
  font-weight: bold;
  font-size: small;

}


.atributes>ul>li:hover{
  background-color: violet;
}

.history{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-items: center;
  align-items: center;
 
}


.history>h2{
  font-size: xx-large;
}

.history>ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-left: 80px;
  margin-right: 80px;
  width: 100%;
 
}

.history>ul>li{
  background-color: rgba(255, 255, 255, .1);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .1);
  width: fit-content
 
}

.history>ul>li>p{
  font-size: medium;
  width: 100%;
  display: flex;
  margin-top: 8px;
}

kbd{
    background-color: darkviolet;
    padding: 2px;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 12px;
    display: flex;


}


#project{
  padding-top: 80px;
  padding-bottom: 80px;
}


.headProjects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 100%;
 
}

.headProjects>h2{
  font-size: xx-large;
}


.headProjects>p{
  max-width: 600px;
  text-align: center;
}



.listProjects{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.listProjects>li>a{
  font-size: larger;
  font-weight: 700;
}


.cardProjects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardProjects>h3:hover{
  color: darkviolet;
}


.cardProjects:hover {
  scale: 1.1;
}


#contact{
  padding-top: 80px;
  padding-bottom: 80px;
}

.headContact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}



.headContact>p{
  max-width: 600px;
  text-align: center;
}

.headContact>h2{
  font-size: xx-large;
}

form{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 360px;
  margin: auto;
  margin-top: 40px;
  gap: 20px;
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, .1);
}

form>div{
  display: flex;
  flex-direction: column;
  gap:8px;
  width: 100%;

}

form>div>label{
  font-weight: 700;

}


form>div>input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  outline: none;

}



form>div>textarea{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 8px;
  outline: none;
}


form>button{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: darkviolet;
  font-weight: 600;
  font-size: medium;
  color: whitesmoke;
  cursor: pointer;
}

form>button:hover{
  background-color: violet;
}

footer{
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: violet;
  font-size: small;
  font-weight: bolder;
}

@media screen and (max-width:440px) {
  .navbar{
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  main{
    padding: 16px;
  }

  .hero{
    flex-direction: column;
    gap: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
  }

  .hero>img{
    scale: .6;
    transform: translateY(-100px);
  }

  #about{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 8px;
    padding-right: 8px;
  }

  #about>div{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px;
    gap: 20px;
  }

  .atributes>h2{
    text-align: center;
  }

  .headProjects>h2{
    text-align: center;
  }

  .history>ul{
    flex-direction: column;
    width: 100%;
  }

  .history>ul>li{
    width: 100%;
  }

  .listProjects{
    flex-direction: column;
    gap: 40px;
  }

  .cardProjects{
    gap: 1px;
  }

  kbd{
    margin-left: auto;
  }
  
}